// Import the typography styles.
//
// MDC Typography
//
@import "@material/typography/mdc-typography";


html, body {
	margin: 0;
	padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body, app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-container {
  flex-grow: 1;
  height: 0;
  display: flex;
}

.app-drawer, .app-main-content {
  overflow: auto;
  height: 100%;
}

.app-app-content {
  flex: auto;
  position: relative;
  width: 0;
  flex-grow: 1;
}

.app-main-content {
  overflow: auto;
  display: flex;
}


.disabled{
  color: #999;
  line-height: 2;
  display:block;
  text-align: center;
}

.CodeMirror{
  width:calc(50% - 2px);
  height:100%;
  border-right:2px solid #BBB;
  float:left;
}

.CodePreview{
  width:50%;
  height:100%;
  float:left;
  font-family: sans-serif;
  padding:10px;
}

.numCount{
  position:absolute;
  bottom:0px;
  left:0px;
}